$govuk-font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$govuk-global-styles: true;

$govuk-brand-colour: #288080;
$govuk-canvas-background-colour: #e0efef;
$govuk-button-background-colour: $govuk-brand-colour;
